body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, darkblue, black);
    color: white;
}
  
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
  
.content {
    flex: 1;
    padding-bottom: 100px;
    padding-left: 100px;
}
  
.image {
    padding: 140px;
    flex: 10;
    text-align: right;
}
  
.toolbar {
    position: absolute;
    top: 20px;
    right: 20px;
}

#buttonConsulta {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;
    font-size: 15px;
}