*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container{
    background: rgb(2,0,36);
    background: linear-gradient(274deg, rgba(2,0,36,1) 0%, rgba(7,7,99,1) 0%, rgba(0,0,0,1) 0%, rgba(9,9,121,1) 68%);
    font-family: sans-serif;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

p{
    padding-bottom: 30px;
    font-weight: 700;
    font-size: 30px;
}

#logo{
    height: 150px;
    width: auto;
    display: flex;
    align-items: center;
    border: 1px solid #153976;
    border-radius: 200px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 28rem;
    background-color: #fff;
    padding: 4rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1.8rem rgba(0, 0, 0, 0.15);
}

label{
    width: 100%;
    color: #777;
    align-self: flex-start;
    transition: 0.15s linear;
}

label:focus-within{
    color: #747aa4;
}

input{
    font-size: 1.1875rem;
    color: #404040;
    padding: 1rem 0 0.5rem 0;
    width: 100%;
    border: none;
    border-color: #a0a0a0;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    margin-bottom: 3rem;
    transition: 0.15s linear;
}

input:focus{
    outline: none;
    border-color: #747aa4;
}

button{
    font-size: 0.8125rem;
    line-height: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    padding: 1rem 2rem;
    cursor: pointer;
    background: transparent;
    color: #153976;
    border: 1px solid currentColor;
    border-radius: 4px;
    margin-top: 0.5rem;
    transition: 0.25s;
}

button:hover,
button:focus{
    outline: none;
    background:#153976;
    color: #fff;
}

#container form a{
    color: #153976;
}

#container form a:hover,
#container form a:focus{
    outline: none;
    color: #000;
}

#container form a:first-of-type{
    margin-top: 3rem;
}

#copyright{
    background-color: #263138; ;
    text-align: center;
    padding: 24px;
    color: white;
}